.login-page {
  display: flex;
  background-color: #edeff3;
  .login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    & > :global(.ant-card) {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    }
    height: 100vh;
    :global {
      .ant-form-item-label {
        padding-bottom: 0px;
        font-weight: 700;
        font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
          sans-serif;
      }
    }
  }
  .login-bg {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
}
