.dashboard {
  height: 100%;
  .container {
    height: 100%;
    display: grid;
    gap: 18px 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "block1 block2 block3 block4"
      "block5 block5 block5 block5"
      "block5 block5 block5 block5"
      "block6 block6 block6 block6"
      "block6 block6 block6 block6"
      "block7 block7 block7 block7"
      "block7 block7 block7 block7";
  }
  .block1 {
    grid-area: block1;
  }
  .block2 {
    grid-area: block2;
  }
  .block3 {
    grid-area: block3;
  }
  .block4 {
    grid-area: block4;
  }
  .block5 {
    grid-area: block5;
  }
  .block6 {
    grid-area: block6;
  }
  .block7 {
    grid-area: block7;
  }
}
