.progress {
  flex: 1;
  display: flex !important;
  margin-left: 30px !important;
  align-items: center;

  :global {
    .ant-progress-bg {
      transition: all 0.01s cubic-bezier(0.78, 0.14, 0.15, 0.86) !important;
    }
    .ant-progress-outer {
      width: 100% !important;
    }
    .ant-progress-text {
      width: auto !important;
    }
  }
}

.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
