$color-red: #ff4d4f;
.input-container {
  background-color: rgba(48, 79, 255, 0.11);
  input,
  span,
  div,
  textarea {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
  }
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-form-item-control-input {
      min-height: auto !important;
    }
    .ant-input {
      padding: 0;
    }
    .ant-input-number-in-form-item {
      box-shadow: none !important;
    }
  }
  .input {
    display: inline-block;
    border: none;
    outline: none;
    width: 100%;
    :global {
      .ant-input-number-input {
        padding: 0;
        width: 100%;
        border: none;
        box-shadow: none;
      }
      .ant-input-number-group-addon {
        border: none !important;
      }
      .ant-input-number-outlined {
        border: none !important;
      }
    }
  }

  // 校验失败边框变红
  &:has(:global(.ant-input-status-error)) {
    box-shadow: inset 0px 0px 0px 2px $color-red !important;
  }
  &:has(:global(.ant-picker-status-error)) {
    box-shadow: inset 0px 0px 0px 2px $color-red !important;
  }
  &:has(:global(.ant-select-status-error)) {
    box-shadow: inset 0px 0px 0px 2px $color-red !important;
  }
  &:has(:global(.ant-input-number-status-error)) {
    box-shadow: inset 0px 0px 0px 2px $color-red !important;
  }
}
.input-container:focus-within {
  box-shadow: inset 0px 0px 0px 2px #14299e;
}

.input-container-locked {
  box-shadow: inset 0px 0px 0px 0px #000;
  background-color: #fff !important;
}
.input-container-locked:focus-within {
  box-shadow: inset 0px 0px 0px 0px #000;
}
.select-container {
  :global {
    .ant-select-selector {
      display: flex;
      border: none !important;
      outline: none;
      box-shadow: none !important;
      padding: 0 !important;
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      font-size: 18px;
    }
    .ant-form-item-control-input-content {
      height: 22px;
      & > div {
        height: 22px;
      }
    }
    .ant-select-selection-search {
      height: 22px !important;
    }
    .ant-select-selection-search {
      top: 0;
      left: 0 !important;
      & > input {
        height: 22px !important;
        width: 100%;
      }
    }
  }
}

.date-container {
  :global {
    .ant-picker {
      padding: 0;
      width: 100%;
      border: none !important;
      box-shadow: none;
    }
    .ant-picker-large .ant-picker-input > input {
      font-size: 18px;
    }
  }
}

.QRcodes {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.form-qrcode {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.addonAfter {
  input {
    font-size: 18px !important;
  }
}
.copyBtn {
  visibility: hidden;
}
.optionItem:hover {
  .copyBtn {
    visibility: visible;
  }
}
