.header {
  background-color: rgb(2, 134, 255) !important;
  -webkit-box-shadow: oklch(0 0 0/0.3) 0px 1px 3px 0px;
  box-shadow: oklch(0 0 0/0.3) 0px 1px 3px 0px;
}

.title {
  padding: 15px 5px;
  margin: 0;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.88);
  font-weight: bold;
  font-size: 18px;
  font-family: AlibabaPuHuiTi, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    sans-serif;
  span {
    margin-left: 18px;
  }

  img {
    margin: 0 5px 0 10px;
  }
}
